
<% @movies.each do |movie| %>
<a href="/movies/<%= movie.id %>">
<span>
<div class="movies_display">
  <%= image_tag(movie.image.thumb.url) %>
  </span>
  </a>
  <h4><%= link_to movie.title, movie_path(movie) %> | 
  <% unless movie.reviews.size == 0 %>
  <%= movie.review_average %> 
  <% end %>
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span></h4>
  <h5><%= formatted_date(movie.release_date) %></h5>
  <h6>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h6>
  <p><%= truncate(movie.description, length: 90) %></p>
</div>
<% end %>