<div class="admin_view">
<h1>Rotten Mangoes</h1>
<p> Admin View</p>

  <table class="admin_table">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Show</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td><%= user.email %></td>
      <td><%= link_to "details", admin_user_path(user) %></td>
    </tr>
    <% end %>
  </table>
  <br>

<%= paginate @users %>
<br>
<%= link_to "create user", new_admin_user_path %>
<br>
<%= link_to "back to homepage", movies_path %>
</div>